<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key ="SITE" value="" />
    <add key ="INPUT_Q" value="" />
    <add key ="FTP_FOLDER" value="" />
    <add key ="FTP_USER" value="" />
    <add key ="FTP_PWD" value="" />
  </appSettings>
  
</configuration>